body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
    font-family: Arial;
}

.form-container{
    background-color: rgb(248, 255, 255);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 5px;
}

.form-container input{
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.form-container button{
    padding: 10px;
    width: 100%;
    background-color: rgb(255, 0, 0);
    color: rgb(77, 165, 42);
    border-radius: 5px;
    cursor: pointer;
}

/* estilização da mensagem de erro ou sucesso da validação */
.message {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    display: none;
}

.message.sucess {
    background-color: rgb(204, 185, 178);
    color: darkgreen;
}

.message.error {
    background-color: antiquewhite;
    color: crimson;
}